<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <system.web>

    <customErrors mode="Off" />
    <compilation debug="true" />

    <authentication mode="Windows" />


  </system.web>
  <appSettings>
    <add key="EWAPath" value="\\asap1\FAME\STD\Flows\Files\SDMXfiles\SdmxTransformer\EWA\" />
    <add key="CSVPath" value="\\asap1\FAME\STD\Flows\Files\SDMXfiles\SdmxTransformer\EWA\Output\" />

    <add key="FileCountLimit" value="500" />
    <!--<add key="EWAPath" value="\\FS-CH-1.main.oecd.org\Users1\Barraclough_D\SDMX\DevTest\EWA\" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
